

<% include partials/_header %>

<div class="container">

  <div class="row">
    <!--FORM-->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="NoControl" placeholder="No Control" pattern="[0-9]"
               data-bv-regexp-message="Formato no valido" required>
            </div>
            <div class="form-group">
              <input class="form-control" name="Nombre" cols="80"
                placeholder="Nombre"pattern="^[A-ZÑa-zñáéíóúÁÉÍÓÚ]+(\s[A-ZÑa-zñáéíóúÁÉÍÓÚ]+)*$" 
                data-bv-regexp-message="Formato no valido" required
                ></div>
                <div class="form-group">
                  <input class="form-control" name="Apellidos" cols="80"
                    placeholder="Apellidos" pattern="^[A-ZÑa-zñáéíóúÁÉÍÓÚ]+(\s[A-ZÑa-zñáéíóúÁÉÍÓÚ]+)*$" 
                    data-bv-regexp-message="Formato no valido" required
                    ></div>
                    <div class="form-group">
                      <input class="form-control" name="FechaNacim" cols="80"
                        placeholder="Fecha de Nacimiento" required
                        ></div>
                        <div class="form-group">
                          <input class="form-control" name="Edad" cols="80"
                            placeholder="Edad" required
                            ></div>
                            <div class="form-group">
                              <input class="form-control" name="CuiNacimiento" cols="80"
                                placeholder="Ciudad de Nacimiento" pattern="^[A-ZÑa-zñáéíóúÁÉÍÓÚ]+(\s[A-ZÑa-zñáéíóúÁÉÍÓÚ]+)*$" 
                                data-bv-regexp-message="Formato no valido" required
                                ></div>   

            </div>
            <button class="btn btn-primary" type="submit">
              Agregar
            </button>
          </form>
        </div>
      </div>
    </div>
<br>
     <!-- LIST -->
     <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>No Control</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha de Nacimiento</th>
            <th>Edad</th>
            <th>Ciudad de Nacimiento</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < estudiantes.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><%= estudiantes[i].NoControl %></td>
              <td><strong><%= estudiantes[i].Nombre %></strong></td>
              <td><%= estudiantes[i].Apellidos %></td>
              <td><%= estudiantes[i].FechaNacim %></td>
              <td><%= estudiantes[i].Edad %></td>
              <td><%= estudiantes[i].CuiNacimiento %></td>
              <td>
                <a
                 
                <a href="/delete/<%= estudiantes[i]._id %>"
                  class="btn btn-danger">
                  Eliminar
                </a>
                <a href="/edit/<%= estudiantes[i]._id %>" class="btn btn-info">
                  Modificar
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>



